# Node modules
node_modules/

# Environment variables
.env
.env.test

# Logs
*.log

# Build output
dist/
build/

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# npm package lock file
package-lock.json

# Yarn lock file
yarn.lock

# Jest
jest.config.js
jest.setup.ts

# Postman collections
postman_collection.json
